{% extends "base.html" %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}

{% block title %}MedicoRead/{{objeto.id}}{% endblock %}

{% block content %}

<div class="card">
    <!-- ENCABEZADO -->
    <div class="card-header hstack gap-1 justify-content-evenly">
        <div class="row">
            <div class="col col-sm-3"> <div class="w-25"><img class="card-img-top" src="{% static 'Images/pacientes.png'%}" alt="Image not found" width="50rem" ></div> </div>
            <div class="col col-sm-5"> <h2><strong>Detalle de Médico</strong></h2> </div>
            <div class="col col-sm-3"> <i class="bi bi-bell-fill" style="font-size: 2rem; color: red;"></i> </div>
            <div class="col col-sm-1"> <a href="{% url 'A01Seg:Medicos' %}" class="btn btn-primary"  title="Ir al Listado de Pacientes"><i class="bi bi-plus-square-fill" >&nbsp;&nbsp;Volver</i></a> </div>
        </div>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-2 mt-2 form-floating">
                <input value="{{objeto.user.username}}" type="text" class="form-control" id="username" name="username" placeholder="Usuario" disabled>
                <br>
                <img class="img-fluid" {% if objeto.image != None %} src="{{objeto.image.url}}" {% else %} src="{% static 'Images/img_no_disp.png'%}" {% endif %} alt="No image" style="height:auto; width: 15rem">
            </div>

            <div class="col-sm-10">
                <div class="row">
                    <div class="col-1 col-sm-1"></div>
                    <div class="col-5 col-sm-3 mt-2 form-floating">
                        <input value="{{objeto.user.first_name}}" type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombres" disabled >
                        <label for="first_name" class="form-label">Nombre </label>
                    </div>
                    <div class="col-5 col-sm-3 mt-2 form-floating">
                        <input value="{{objeto.user.last_name}}" type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellidos" disabled>
                        <label for="last_name" class="form-label">Apellidos</label>
                    </div>
                    <div class="col-5 col-sm-3 mt-2 form-floating">
                        <input value="{{objeto.dni }}" type="text" class="form-control" id="dni" name="dni" placeholder="123456789-1" disabled>
                        <label for="dni" class="form-label">DNI</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-sm-1"></div>
                    <div class="col-5 col-sm-3 mt-2 form-floating">
                        <input value="{{objeto.user.email }}" type="email" class="form-control" id="email" name="email" placeholder="algo@mail.cl" disabled>
                        <label for="email" class="form-label">Correo</label>
                    </div>
                    <div class="col-5 col-sm-3 mt-2 form-floating">
                        <input value="{{objeto.phone }}" type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" disabled>
                        <label for="phone" class="form-label">Teléfono</label>
                    </div>
                    <div class="col-5 col-sm-3 mt-2 form-floating" >
                        <input class="form-control" id="nacim" name="nacim" value="{{ fn }}" type="date" disabled>
                        <label for="nacim" class="form-label">Fecha de Nacimiento</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1 col-sm-1 mt-2 form-floating"></div>
                    <div class="col-5 col-sm-3 mt-2 form-floating" >
                        <input value="{{objeto.especialidad }}" type="text" class="form-control" id="especialidad" name="especialidad" placeholder="Especialidad" disabled>
                        <label for="especialidad" class="form-label" > Especialidad </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 col-sm-1 mt-2 form-floating"></div>
                    <div class="col-9 col-sm-9 mt-2" >
                        <div class="form-control" rows="10" style="background-color: #E9ECEF; ">
                            <p style="color:grey; font-size:14px; "> Experiencia </p>
                            <p > {{ objeto.experiencia }} </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-4 mt-4">
                <a href="{% url 'A01Seg:MedicoUpdate' objeto.id %}" class='btn btn-warning' title='Editar datos del paciente: {{objeto.user.username}}'>
                    <i class="fas fa-pen"></i>&nbsp;&nbsp; Editar Perfil
                </a>
            </div>
        </div>


    </div>

</div>



{% endblock %}