{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <form method="post" class="card card-body">
                <h4 class="text-center display-1"> Signin </h4>
                <hr>
                {{ error }}
                <hr>

                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" > Username : </label>
                    <input autofocus type="text" class="form-control" id ="username" name="username" placeholder="Escribre tu nombre de usuario.">
                </div>
                <div class="mb-3">
                    <label for="password" > Contraseña : </label>
                    <input type="password" class="form-control" id ="password" name="password" placeholder="Escribre tu contraseña.">
                </div>
                <button class="btn btn-primary"> Ingresa </button>
                <br>
                {% if not user.is_authenticated %}
                {% comment %} <a href="{% url 'A01Seg:signup'%}" class="btn btn-primary"> Crea tu cuenta </a> {% endcomment %}
                {% endif %}

            </form>
        </div>
    </div>
</main>

{% endblock %}


